/* bodyタグへのstyleを指定*/
body {
  background-color: white;
  margin: 0;
  padding: 0;
}

/* headerタグへのstyleを指定 */
.header {
  /* 背景色を#3e50b4にする */
  background-color: #3e50b4;
  color: white;
  /* 要素を横並びにする */
  display: flex;
  /* TODO: アイコンと文字の位置を揃える */
  /* TODO: レイアウトを調整する */
}

.main {
  margin: 35px 15px;
}

.addListButton {
  /* ボタンを下から20px, 右から15pxで固定 */
  position: fixed;
  bottom: 20px;
  right: 15px;
  background-color: #3e50b4;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  /* 縦横の大きさを64pxに変更 */
  height: 64px;
  width: 64px;
  /* ボタンを円形にする */
  border-radius: 50%;
  /* 枠線を削除 */
  border: none;
}
